.chapter.c3 {
  padding: 1em 0;
  margin: 1em 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .chapter.c3 h2 {
    width: 100%;
    text-align: center; }
  .chapter.c3 .deck {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .chapter.c3 .deck .card {
      margin: 1em;
      width: 65%; }
