@import './vars';

//////////////////////////////////
// chapter
//////////////////////////////////

.chapter {

    &.c3 {
        padding: 1em 0;
        margin: 1em 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        h2 {
            width: 100%;
            text-align: center;
        }

        .deck {
            flex-wrap: wrap;

            .card {
                margin: 1em;
                width: 65%;
            }
        }
    }
}